/* purgecss start ignore */
@tailwind base;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Inter-Regular.woff2') format('woff2'),
    url('/fonts/Inter-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Inter-Italic.woff2') format('woff2'),
    url('/fonts/Inter-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Inter-Medium.woff2') format('woff2'),
    url('/fonts/Inter-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Inter-MediumItalic.woff2') format('woff2'),
    url('/fonts/Inter-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Inter-Bold.woff2') format('woff2'),
    url('/fonts/Inter-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Inter-BoldItalic.woff2') format('woff2'),
    url('/fonts/Inter-BoldItalic.woff') format('woff');
}

:root {
  --fontSize: 15px;
  /*--emsAcrossViewport: 80;
  --fontSize: calc(100vw / var(--emsAcrossViewport));*/

  --lineHeight: calc(var(--fontSize) * 1.5);

  --spacing: 2rem;
  --spacingv: calc(var(--lineHeight) / 2);

  --columnGap: 2rem;

  /* colors */
  --red: color(display-p3 0.94 0.19 0.04);
  --yellow: color(display-p3 1 0.87 0.05);
  --light-yellow: color(display-p3 1 1 0.7);
  --blue: rgb(3, 102, 230);
  --green: rgb(38, 220, 78);
  --mediumGreen: rgb(119, 221, 134);
}

body {
  background-color: #f4f4f4;
  color: #111;
  font: 15px/22px 'Inter', system-ui, sans-serif;
  /*font-size: 15px;
  line-height: 1.5;*/
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  letter-spacing: -0.004em;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  font-kerning: normal;
  font-variant-ligatures: contextual common-ligatures;

  /* required to work around letter-spacing bug in Chrome: */
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter var', system-ui, sans-serif;
  }
  body.chrome-win {
    /* Chrome has some VF issues; worst are on Windows with incorrect kerning.
       We disable VF on Chrome on Windows for that reason.
    */
    font-family: Inter, system-ui, sans-serif;
  }
}

a {
  word-break: break-word;
  word-wrap: break-word;
}

a[href^='#']:hover {
  text-decoration-style: dashed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind components;
@tailwind utilities;
