// Resurs palette

// Primary
$blue: rgba(0, 168, 230, 1);

// Accent
$red: rgba(205, 32, 45, 1);
$pink: rgba(246, 167, 193, 1);
$purple: rgba(97, 62, 149, 1);
$orange: rgba(253, 187, 72, 1);
$green: rgba(103, 186, 68, 1);

$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$gray: rgba(220, 221, 222, 1);


$blue_0: rgba(40, 37, 103, 1);
$blue_1: rgba(0, 99, 166, 1);
$blue_2: rgba(0, 135, 199, 1);
$blue_3: rgba(18, 188, 235, 1);
$blue_4: rgba(173, 223, 246, 1);
$blue_5: rgba(225, 243, 252, 1);

$red_0: rgba(137, 24, 26, 1);
$red_1: rgba(176, 31, 38, 1);
$red_2: rgba(198, 30, 37, 1);
$red_3: rgba(232, 86, 83, 1);
$red_4: rgba(245, 150, 149, 1);
$red_5: rgba(252, 231, 231, 1);

$pink_0: rgba(146, 26, 73, 1);
$pink_1: rgba(202, 76, 127, 1);
$pink_2: rgba(236, 139, 176, 1);
$pink_3: rgba(247, 189, 214, 1);
$pink_4: rgba(250, 212, 223, 1);
$pink_5: rgba(252, 232, 241, 1);

$purple_0: rgba(53, 33, 91, 1);
$purple_1: rgba(70, 46, 116, 1);
$purple_2: rgba(87, 54, 136, 1);
$purple_3: rgba(116, 85, 163, 1);
$purple_4: rgba(209, 198, 226, 1);

$orange_0: rgba(199, 57, 36, 1);
$orange_1: rgba(223, 111, 38, 1);
$orange_2: rgba(248, 154, 28, 1);
$orange_3: rgba(255, 202, 83, 1);
$orange_4: rgba(255, 216, 150, 1);
$orange_5: rgba(255, 236, 192, 1);

$green_0: rgba(0, 83, 4, 1);
$green_1: rgba(35, 122, 60, 1);
$green_2: rgba(87, 155, 68, 1);
$green_3: rgba(141, 200, 109, 1);
$green_4: rgba(169, 213, 160, 1);
$green_5: rgba(215, 233, 198, 1);

$gray_0: rgba(100, 100, 100, 1);
$gray_1: rgba(99, 100, 102, 1);
$gray_2: rgba(147, 149, 152, 1);
$gray_3: rgba(167, 169, 172, 1);
$gray_4: rgba(199, 200, 202, 1);
$gray_5: rgba(220, 221, 222, 1);





